h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 200%;
	color: #666;
}
.main {
	float: right;
	margin: .5% 0 0 3%;
	border-radius: 20px;
	width: 50%;
}
article {
	text-align: justify;
	font-size: 120%;
}

@media (max-width: 600px) {
	h2 {
		font-size: 175%;
	}
	.main {
		width: 100%;
		margin: 0 0 20px 0;
	}
	article {
		font-size: 110%;
	}
}