article {
	font-size: 120%;
	text-align: justify;
	margin-bottom: 8%;
}
article a {
	text-decoration: none;
	color: #4bb553;
}
input {
	width: 50%;
}
input, textarea {
	padding: 1%;
	margin: 3% auto 0;
	font-size: 100%;
	display: block;
	border-radius: .3em;
	-webkit-appearance: none;
	-webkit-transition: border, ease-out;
	-moz-transition: border, ease-out;
	-o-transition: border, ease-out;
	transition: border, ease-out;
	border: 1px solid #e8e8e8;
	background-color: #f1f1f1;
	background-image: none;
	font-family: 'Quicksand', sans-serif;
}
input:hover, input:focus, textarea:hover, textarea:focus {
	-webkit-transition: border, ease-out, .8s;
	-moz-transition: border, ease-out, .8s;
	-o-transition: border, ease-out, .8s;
	transition: border, ease-out, .8s;
	background-color: #fafafa;
	border: 1px solid #4bb553;
	outline-style: none;
}
textarea {
	height: 6em;
	width: 50%;
}
input[type="submit"] {
/*	height: 30px;*/
	width: 15%;
	cursor: pointer;
	color: #fff;
	background-color: #4bb553   ;
}
input[type="submit"]:hover {
	background-color: #11a33a ;
}

@media (max-width: 600px) {
	article {
		font-size: 110%;
		margin-bottom: 15%;
	}
	input, textarea {
		width: 90%;
		padding: 2% 1%;
		font-size: 120%;
	}
	input[type="submit"] {
		width: 25%;
	}
}