@keyframes opacity {
	0% {opacity: 0.1;
		width: 25px;}
	100% {opacity: 1;
		width: 70px;}
}
@-webkit-keyframes opacity {
	from {opacity: 0.1;
		width: 25px;}
	to {opacity: 1;
		width: 70px;}
}
@-moz-keyframes opacity {
	0% {opacity: 0.1;
		width: 25px;}
	100% {opacity: 1;
		width: 70px;}
}
.logo {
	/*transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);*/
	/*top: 10px;
	left: 0;
	float: left;
	position: absolute;*/
	/*transition: opacity 1.5s ease;
	opacity: 0;
	animation: opacity 2s ease;
	-webkit-animation: opacity 2s ease;
	-moz-animation: opacity 2s ease;*/
}
footer {
	margin-top: 7%;
}


@media (max-width: 600px) {
}
@media (max-width: 450px) {
}
@media (max-width: 300px) {
}