* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	height: 100%;
}
body {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	color: #777;
}
a  {
	text-decoration: none;
}
main {
	padding: 0 10%;
}
body:before {
	content: "";
	width: 0;
	height: 90%;
	float: left;
}
.icon, .toggle {
	display: none;
}
header {
	margin-bottom: 8%;
}
nav > ul {
	margin: 0;
}
h1 a, h1 a:visited {
	color: #666;
	text-decoration: none;
	font-family: miama;
}
.logo {
/*	float: left;*/
	position: absolute;
	left: 10%;
	margin: 45px 0 0;
	width: 5em;
}
h1 {
	font-size: 400%;
	font-family: 'Miama', cursive;
	letter-spacing: .1em;
	color: #666;
	margin: -15px auto;
}
header ul li a {
	margin: 1.5%;
	color: #777;
	text-decoration: none;
	font-size: 170%;
	-webkit-transition: border-bottom, ease-out;
	-moz-transition: border-bottom, ease-out;
	-o-transition: border-bottom, ease-out;
	transition: border-bottom, ease-out;
	border: 1px solid rgba(255,255,255,0);
	border-radius: 5px;
	padding: 0 5px;
}
header ul li a:hover {
	color: #444;
	-webkit-transition: border-bottom, ease-out, .8s;
	-moz-transition: border-bottom, ease-out, .8s;
	-o-transition: border-bottom, ease-out, .8s;
	transition: border-bottom, ease-out, .8s;
	border: 1px solid rgba(75,181,83,.5);
	border-radius: 5px;
}
.dropdown li a, .dropdown li a:hover {
	border-bottom: none;
	border-top: none;
	padding: 0 10px;
}
.current {
	color: #444;
}
ul {
	padding: 0;
}
ul li {
	display: inline;
}

#portfolio {
	position: relative;
}
.dropdown, #portfolio:hover ul, .social li a img:hover {
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
}
.dropdown {
	margin-top: 1.5%;
	padding: .4% 0 10%;
	background-color: rgba(255,255,255,1);
	list-style: none;
	position: absolute;
	left: -300%;
	width: 700%;
	overflow: hidden;
	text-align: center;
	z-index: 1;
	-webkit-box-shadow: 0 1.5em 1.5em -.25em #fff;
	-moz-box-shadow: 0 1.5em 1.5em -.25em #fff;
	-o-box-shadow: 0 1.5em 1.5em -.25em #fff;
	box-shadow: 0 1.5em 1.5em -.25em #fff;
	opacity: 0;
	visibility: hidden;
}
#portfolio:hover ul{
	opacity: 1;
	visibility: visible;
}
.dropdown li {
	display: block;
/*	line-height: 150%;*/
}
.crosslinks, .crosslinks:visited {
	color: #000;
	border-bottom: 1px dashed #eee;
}
.crosslinks:hover {
	border-bottom: 1px dashed #aaa;
}
.social li a img {
	width: 40px;
	margin: auto 1%;
	border-radius: 50%;
	-webkit-transition: opacity, ease-out;
	-moz-transition: opacity, ease-out;
	-o-transition: opacity, ease-out;
	transition: opacity, ease-out;
	opacity: .3;
}
.social li a img:hover {
	opacity: .6;
}
.facebook:hover {
	background-color: #3355AA;
}
.google:hover {
	background-color: #EE4B4B;
}
.pinterest:hover {
	background-color: #FF0707;
}
.tweeter:hover {
	background-color: #55AAEE;
}
.social {
	margin: 0;
}
footer {
	clear: both;
	margin: 8% auto 0;
}

/***** SHOP CSS *****/

.inter-buyer {
	font-size: 1.5em;
}
.inter-buyer a {
	text-decoration: none;
	color: #4b9f53;
}
/***** SHOP CSS *****/

@media (max-width: 800px) {
	main {
		padding: 0 5%;
	}
	h1 {
		font-size: 350%;
	}
	.logo {
		width: 4em;
		left: 5%;
	}
	header ul li a {
		margin: 1.5% 1.2%;
	}
}

@media (max-width: 600px) {
	body {
/*		padding: 0;*/
	}
	.fa {
		display: inline-block;
	}
	header ul {
		margin: -10px auto;
	}
	header ul li {
		display: block;
		margin: 10px 0;
	}
	.toggle {
		display: inherit;
		float: left;
		margin-top: 40px;
		font-size: 2em;
		color: inherit;
		cursor: pointer;
	}
	.toggle-pressed {
		color: #444;
	}
	.logo {
		margin: 10px 0 0 0;
		width: 10%;
		display: none;
	}
	h1 {
		font-size: 300%;
		text-align: right;
		line-height: 270%;
		margin-top: 0;
		margin-bottom: -5%;
	}
	.social li a img {
		width: 10%;
	}
	footer {
		margin-top: 11%;
	}
	nav {
		width: 65%;
		position: absolute;
		left: -65%;
		top: 0;
		padding-top: .6em;
		height: 100%;
		background: #efefef;
	}
	nav ul {
		border-top: 1px solid #ddd;
	}
	nav ul li {
		width: 100%;
		text-align: left;
		padding: .3em 1em;
		box-sizing: border-box;
		border-bottom: 1px solid #ddd;
	}
	nav ul li a:hover {
		border: 1px solid rgba(255,255,255,0);
	}
	.icon {
		width: 15%;
		margin-right: 5%;
		color: #4b9f53;
	}
	.openNav main {
    left: 0;
    -webkit-transform: translate3d(65%, 0, 0);
    -moz-transform: translate3d(65%, 0, 0);
    -ms-transform: translate3d(65%, 0, 0);
    -o-transform: translate3d(65%, 0, 0);
    transform: translate3d(65%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  .no-scroll {
  	overflow: hidden;
  }
  main {
    left: 0;
		padding: 0 3%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }

	#portfolio {
		padding: .3em 0 0;
	}
	#portfolio > a {
		padding-left: .6em;
	}
	#portfolio > a > i {
		width: 13%;
	}
	.dropdown {
		font-size: 80%;
		padding: 0;
		margin-top: inherit;
		background-color: inherit;
		position: inherit;
		left: inherit;
		width: inherit;
		text-indent: 1em;
		text-align: inherit;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		opacity: 1;
		visibility: visible;
	}
	.dropdown li {
		line-height: 2.8em;
	}
	.dropdown li:last-child {
		border: none;
	}
	.dropdown li i {
		margin-right: 3%;
		font-size: .5em;
		vertical-align: middle;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 225%;
	}
	.toggle {
		margin-top: 25px;
	}
	nav {
		width: 75%;
		left: -75%;
	}
	.openNav main {
    left: 0;
    -webkit-transform: translate3d(75%, 0, 0);
    -moz-transform: translate3d(75%, 0, 0);
    -ms-transform: translate3d(75%, 0, 0);
    -o-transform: translate3d(75%, 0, 0);
    transform: translate3d(75%, 0, 0);
	}
	.social li a img {
		width: 15%;
	}
	nav ul li, #portfolio {
		padding-top: .1em;
	}
	footer {
		margin-top: 15%;
	}
}