body {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 3%;
	color: gray;
}
.logo {
	float: right;
	margin: 3% 10% 0 0;
	width: 10%;
}
h1 {
	font-size: 500%;
	font-family: 'Satisfy', cursive;
	letter-spacing: .2em;
	color: #666;
	margin: 0 auto;
}
header ul li a {
	margin: 1%;
	color: gray;
	text-decoration: none;
	font-size: 170%;
	-webkit-transition: border-bottom, ease-out;
	-moz-transition: border-bottom, ease-out;
	-o-transition: border-bottom, ease-out;
	transition: border-bottom, ease-out;
	border-bottom: 2px solid rgba(255,255,255,0);
}
header ul li a:hover {
	color: #444;
	-webkit-transition: border-bottom, ease-out, .8s;
	-moz-transition: border-bottom, ease-out, .8s;
	-o-transition: border-bottom, ease-out, .8s;
	transition: border-bottom, ease-out, .8s;
	border-bottom: 2px solid #4bb553;
}
.current {
	color: #444;
}
ul {
	padding: 0;
}
ul li {
	display: inline;
}

#portfolio {
	position: relative;
}
.dropdown {
	margin-top: 1.5%;
	background-color: rgba(255,255,255,1);
	list-style: none;
	position: absolute;
	left: -25%;
/*	width: 250%;*/
	text-align: center;
	z-index: 1;
	-webkit-box-shadow: 0 1em 3em .5em #fff;
	-moz-box-shadow: 0 1em 3em .5em #fff;
	-o-box-shadow: 0 1em 3em .5em #fff;
	box-shadow: 0 1em 3em .5em #fff;
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
	opacity: 0;
	visibility: hidden;
}
#portfolio:hover ul{
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
	opacity: 1;
	visibility: visible;
}
.dropdown li {
	display: block;
	line-height: 150%;
}
.social li a img {
	width: 5%;
	margin: auto 1%;
	border-radius: 50%;
	-webkit-transition: opacity, ease-out;
	-moz-transition: opacity, ease-out;
	-o-transition: opacity, ease-out;
	transition: opacity, ease-out;
	opacity: .5;
}
.social li a img:hover {
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
	opacity: .7;
}
.facebook:hover {
	background-color: #3355AA;
}
.google:hover {
	background-color: #EE4B4B;
}
.pinterest:hover {
	background-color: #FF2727;
}
.tweeter:hover {
	background-color: #55AAEE;
}

@media (max-width: 600px) {
	body {
		padding: 0 20px;
	}
	.logo {
		margin: 60px auto 0;
		width: 80px;
		position: relative;
		display: block;
		float: none;
	}
	h1 {
		font-size: 45px;
		margin-bottom: 30px;
	}
	header {
		margin: -50px auto 50px;
	}
	header ul {
		margin: -10px auto;
	}
	header ul li {
		display: block;
		margin: 10px 0;
	}
	.social li a img {
    margin: 0 auto;
	}
}