body {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 3%;
	color: gray;
}
.fa {
	display: none;
}
.logo {
	float: right;
	margin: 3% 10% 0 0;
	width: 10%;
}
h1 {
	font-size: 500%;
	font-family: 'Satisfy', cursive;
	letter-spacing: .2em;
	color: #666;
	margin: 0 auto;
}
header ul li a {
/*	margin: 1%;*/
	color: gray;
	text-decoration: none;
	font-size: 170%;
	-webkit-transition: border-bottom, ease-out;
	-moz-transition: border-bottom, ease-out;
	-o-transition: border-bottom, ease-out;
	transition: border-bottom, ease-out;
	border-bottom: 1px dotted rgba(255,255,255,0);
}
header ul li a:hover {
	color: #444;
	-webkit-transition: border-bottom, ease-out, .8s;
	-moz-transition: border-bottom, ease-out, .8s;
	-o-transition: border-bottom, ease-out, .8s;
	transition: border-bottom, ease-out, .8s;
	border-bottom: 1px dotted #4bb553;
}
.current {
	color: #444;
}
ul {
	padding: 0;
}
ul li {
	display: inline;
}

#portfolio {
	position: relative;
}
.dropdown {
	margin-top: 1.5%;
	background-color: rgba(255,255,255,1);
	list-style: none;
	position: absolute;
	left: -25%;
/*	width: 250%;*/
	text-align: center;
	z-index: 1;
	-webkit-box-shadow: 0 1em 3em .5em #fff;
	-moz-box-shadow: 0 1em 3em .5em #fff;
	-o-box-shadow: 0 1em 3em .5em #fff;
	box-shadow: 0 1em 3em .5em #fff;
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
	opacity: 0;
	visibility: hidden;
}
#portfolio:hover ul{
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
	opacity: 1;
	visibility: visible;
}
.dropdown li {
	display: block;
	line-height: 150%;
}
.social li a img {
	width: 5%;
	margin: auto 1%;
	border-radius: 50%;
	-webkit-transition: opacity, ease-out;
	-moz-transition: opacity, ease-out;
	-o-transition: opacity, ease-out;
	transition: opacity, ease-out;
	opacity: .5;
}
.social li a img:hover {
	-webkit-transition: opacity, ease-out, .5s;
	-moz-transition: opacity, ease-out, .5s;
	-o-transition: opacity, ease-out, .5s;
	transition: opacity, ease-out, .5s;
	opacity: .7;
}
.facebook:hover {
	background-color: #3355AA;
}
.google:hover {
	background-color: #EE4B4B;
}
.pinterest:hover {
	background-color: #FF2727;
}
.tweeter:hover {
	background-color: #55AAEE;
}

@media (max-width: 600px) {
	body {
		padding: 0;
	}
	.fa {
		display: inline-block;
	}
	header {
	/*margin: -50px auto 50px;*/
	/*background-color: pink;*/
	}
	header ul {
		margin: -10px auto;
	}
	header ul li {
		display: block;
		margin: 10px 0;
	}
	.toggle {
		float: left;
		/*margin-top: .3%;*/
		line-height: 1.45em;
		font-size: 2.5em;
		color: inherit;
	}
	.logo {
		margin: 10px 0 0 0;
		width: 10%;
		display: none;
	}
	h1 {
		font-size: 250%;
		margin-bottom: 30px;
		/*text-align: right;*/
	}
	.social li a img {
		width: 10%;
	}

	main {
		padding: 2% 3%;
	}
	nav {
		width: 60%;
		position: absolute;
		left: -60%;
		top: 0;
		height: 100%;
		background: #ddd;
	}
	nav ul {
		border-top: 1px solid #ccc;
	}
	nav ul li {
		width: 100%;
		text-align: left;
		padding: .5em 1em;
		box-sizing: border-box;
		border-bottom: 1px solid #ccc;
	}
	nav ul li a:hover {
		border: none;
	}
	.icon {
		width: 15%;
		margin-right: 5%;
	}

	#portfolio {
		padding: .5em 0 0;
	}
	#portfolio > a {
		padding-left: .6em;
	}
	#portfolio > a > i {
		/*margin-right: 2%;*/
		width: 13%;
	}
	.dropdown {
		font-size: 80%;
		margin-top: inherit;
		background-color: inherit;
		position: inherit;
		left: inherit;
		width: inherit;
		text-indent: 1em;
		text-align: inherit;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		opacity: 1;
		visibility: visible;
	}
	.dropdown li {
		line-height: 2.8em;
	}
	.dropdown li:last-child {
		border: none;
	}
	.dropdown li i {
		margin-right: 3%;
		font-size: .5em;
		vertical-align: middle;
	}

	.openNav main {
    left: 0;
    -webkit-transform: translate3d(60%, 0, 0);
    -moz-transform: translate3d(60%, 0, 0);
    -ms-transform: translate3d(60%, 0, 0);
    -o-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  main {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}