header {
	margin-bottom: 7%;
}
h2 {
	font-weight: 100;
}
.gallery li {
	overflow: hidden;
	width: 33%;
	float: left;
	padding: 1% 0;
}
.gallery li img {
	max-width: 100%;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	transition: .5s;
	cursor: pointer;
}
.gallery li img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}
.modal {
	visibility: hidden;
	position: fixed;
	border-radius: 10px;
	z-index: 11;
	left: 17.5%;
	top: 50%;
	bottom: 50%;
	margin: auto;
	width: 65%;
}
.largeImage.modal {
	top: 0;
	bottom: 0;
}
.close, .next, .previous {
  cursor: pointer;
  font-size: 300%;
  position: relative;
  z-index: 12;
	margin-top: -5%;
	color: #eee;
}
.modal div:hover {
	color: #4b9f53;
}
.close {
  float: right;
  font-size: 200%;
  margin: -34% .3% 0 0;
}
.next {
	float: right;
}
.previous {
	float: left;
}
footer {
	clear: both;
	padding-top: 5%;
}

@media (max-width: 800px) {
	.modal {
		left: 12.5%;
		width: 75%;
	}
}

@media (max-width: 600px) {
	h2 {
		text-align: justify;
	}
	.gallery li {
		float: none;
		width: 100%;
	}
	.gallery li img {
		max-width: 100%;
	}
	footer {
		padding-top: 0;
		margin-top: 10%;
	}
	.gallery li img:hover {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
}
