.csslider {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.csslider img {
	width: 100%;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
/*  margin-left: 0%;*/
}
.csslider > ul {
  overflow: hidden;
  white-space: nowrap;
}
.csslider > ul > li {
	margin-right: -5px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all .5s ease;
}
.csslider > .navigation {
  text-align: center;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  background: #ddd;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: #4bb553;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
  top: 45%;
  width: 100%;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  padding: 3%;
	margin: 0 -3%;
  box-shadow: inset 2px -2px 0 1px #ddd;
  cursor: pointer;
}
.csslider > .arrows label:hover {
  box-shadow: inset 2px -2px 0 1px #4bb553;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4) {
  display: block;
  left: 0;
  right: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6) {
  display: block;
  right: 0;
  left: auto;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

@media (max-width: 600px) {
	.csslider {
		width: 100%;
	}
	.csslider > .arrows {
		position: static;
		top: 0;
	}
	.csslider > .arrows label {
		margin: 0 30%;
		padding: 2.5%;
  	box-shadow: inset 2px -2px 0 0 #aaa;
	}
}

@media (max-width: 400px) {
	.csslider {
		margin-top: 20%;
	}
	.csslider > .arrows label {
		margin: 0 20%;
	}
	.csslider img {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
}
